<h1>All doctors</h1>

<%= link_to new_doctor_path do %>
  <i class="fa fa-plus"></i> Add a new doctor
<% end %>

<br><br>

<ul>
<% @doctors.each do |doctor| %>
  <li>
    <%= link_to doctor_path(doctor.id) do %>
      Dr <%= doctor.name %>, <%= doctor.specialty %>
    <% end %>
    <%= link_to doctor_path(doctor.id), method: :delete, data: { confirm: "Delete Dr #{doctor.name}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </li>
<% end %>
</ul>
