<h1>Information for Dr <%= @doctor.name %></h1>

<%= @doctor.specialty %>
<br>
Upcoming appointments:
<ul>
  <% @doctor.appointments.each do |appointment|%>
    <li>
      <%= appointment.patient.name %> on <%= appointment.date %>
      <%= link_to appointment_path(appointment.id), method: :delete, data: { confirm: "Delete this appointment?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to new_doctor_appointment_path(@doctor.id), class: 'btn btn-form' do %>
  <i class="fa fa-plus"></i> Add an appointment for Dr <%= @doctor.name %>
<% end %>
<br>
<%= link_to doctors_path, class: 'btn btn-form' do %>
  <i class="fa fa-history"></i>
<% end %>
